.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dbc84a;
  color: #553222;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navLink {
  color: #553222ff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #c5460b;
}
